.root {
    -fx-font-family: "Lora";
}



.lapisanGelap {
    -fx-background-color: rgba(2, 44, 32, 0.35);
}


.navbar {
    -fx-background-color: transparent;
}

.itemNav {
    -fx-text-fill: rgba(255, 255, 255, 0.75);
    -fx-font-size: 18px;
    -fx-font-weight: 600;
    -fx-cursor: hand;
    -fx-padding: 10 20;
    -fx-background-radius: 6;
}

.itemNav:hover {
    -fx-text-fill: #23e879;
}

.itemNavAktif {
    -fx-text-fill: #23e879;
    -fx-font-weight: 700;
    -fx-border-color: transparent transparent #23e879 transparent;
    -fx-border-width: 0 0 2 0;
}


.subjudul {
    -fx-text-fill: #23e879;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-letter-spacing: 2px;
}

.judulUtama {
    -fx-text-fill: white;
    -fx-font-size: 48px;
    -fx-font-weight: 900;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 3);
}


.kartuMember {
    -fx-background-color: rgba(255, 255, 255, 0.07);
    -fx-background-radius: 15;
    -fx-border-color: rgba(255, 255, 255, 0.15);
    -fx-border-radius: 15;
    -fx-padding: 12 10;
    -fx-spacing: 5;
    -fx-min-width: 150px;
    -fx-min-height: 220px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0, 0, 5);
}

.kartuMember:hover {
    -fx-background-color: rgba(35, 232, 121, 0.15);
    -fx-border-color: #23e879;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.namaMember {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-font-weight: 700;
}

.roleMember {
    -fx-text-fill: rgba(255, 255, 255, 0.8);
    -fx-font-size: 11px;
    -fx-font-style: italic;
}


.quotesBawah {
    -fx-text-fill: rgba(255, 255, 255, 0.8);
    -fx-font-style: italic;
    -fx-font-size: 14px;
}

.versiApp {
    -fx-text-fill: rgba(255, 255, 255, 0.4);
    -fx-font-size: 12px;
}