
.root {
    -fx-font-family: "Lora";
}


.lapisanGelap {
    -fx-background-color: rgba(2, 44, 32, 0.35);
}


.navbar {
    -fx-background-color: transparent;
}

.itemNav {
    -fx-text-fill: rgba(255, 255, 255, 0.75);
    -fx-font-size: 18px;
    -fx-font-weight: 600;
    -fx-cursor: hand;
    -fx-padding: 10 20;
    -fx-background-radius: 6;
}

.itemNav:hover {
    -fx-text-fill: #23e879;
}

.itemNavAktif {
    -fx-text-fill: #23e879;
    -fx-font-weight: 700;
    -fx-border-color: transparent transparent #23e879 transparent;
    -fx-border-width: 0 0 2 0;
}


.subjudul {
    -fx-text-fill: #23e879;
    -fx-font-size: 14px;
    -fx-font-weight: 700;
    -fx-letter-spacing: 1px;
}

.judulUtama {
    -fx-text-fill: white;
    -fx-font-size: 42px;
    -fx-font-weight: 900;
}

.teksDeskripsi {
    -fx-text-fill: rgba(255, 255, 255, 0.85);
    -fx-font-size: 14px;
    -fx-line-spacing: 3px;
}

.boxInfo {
    -fx-padding: 20 0 0 0;
}

.labelInfo {
    -fx-text-fill: #23e879;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.isiInfo {
    -fx-text-fill: white;
    -fx-font-size: 16px; 
}


.cpContainer {
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-background-radius: 15;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-radius: 15;
    -fx-padding: 25;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0, 0, 4);
}

.judulCP {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-padding: 0 0 10 0;
    -fx-border-color: transparent transparent rgba(255,255,255,0.1) transparent;
    -fx-border-width: 0 0 1 0;
}


.scroll-pane-cp {
    -fx-background-color: transparent;
    -fx-background: transparent;
}
.scroll-pane-cp .viewport {
    -fx-background-color: transparent;
}


.cardCP {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-border-color: transparent;
    -fx-border-radius: 8;
    -fx-cursor: hand;
}

.cardCP:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: #23e879;
}

.namaCP {
    -fx-text-fill: #23e879;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.detailCP {
    -fx-text-fill: rgba(255, 255, 255, 0.7);
    -fx-font-size: 12px;
}


